<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()+' '+person.getSurname()}" ></title>
    <style>
        .bold{
            text-align-all: right;
            text-shadow: #9EEFE1;
            background-color: #fff36f;
            background-position: left;
        }
        .bold-green{
            text-align-all: right;
            text-shadow: #9EEFE1;
            background-color: greenyellow;
            background-position: left;
        }
        .frame{
            background-color: red;
        }
    </style>
</head>
<body>

<p class="bold" th:text="${person.getName() + ', ' + person.getSurname()}">VALUE</p>
<p th:text="${'Year: ' + person.getYear()}">VALUE</p>
<br>


<div th:if="${personbooks}">
    <div th:each="pb :${personbooks}">
        <p th:if="!${pb.isLicense()}" th:text="${pb.getTitle()} +', '+${pb.getAuthor()} "></p>
        <p th:if="${pb.isLicense()}"class="frame" style="color: white" th:text="${pb.getTitle()} +', '+${pb.getAuthor()} "></p>
        <form th:method="PATCH"  th:action="@{/people/{id}/set(id=${pb.getId()})}">
            <input type="submit" class="bold-green" value="Return book">
        </form>
    </div>
</div>

<div th:if="${books}">
    <form th:method="POST" th:action="@{/people/{id}/set(id=${person.getId()})}">
        <label for="books">Chose book</label>
        <select id="books" th:object="${book}" th:field="*{id}">
            <option th:each="b:${books}" th:value="${b.getId()}" th:text="${b.getTitle()}"></option>
        </select>
        <input type="submit" class="add-owner" value="Add Book">
    </form>
</div>




<hr>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete User">
</form>
<br>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit User">
</form>


</body>
</html>